:root {
    --primary-color: #024b68;
    --secondary-color: #eff3f3;
    --accent1-color: #9FF094;
    --accent2-color: #dfeeee;
    --heading-font: "Merryweather Sans", sans-serif;
    --body-font: "Lato", sans-serif;
}

* {
    font-family: var(--heading-font);
}

body {
    margin: 0;
}
header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#menu {
    display: grid;
    justify-content: end;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 40px;
}

#menu::before {
    content: "≡";
}


.navigation {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    padding: 0.75rem;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
}

.navigation a:hover,
.navigation a:active {
    color: white;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
    font-weight: 100;
    font-size: x-large;
}


.navigation a {
    color: var(--accent2-color);
    text-decoration: none;
    font-size: larger;
}

.navigation li {
    padding: 13px;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}
.more{
    background-color: var(--secondary-color);
    text-align: center;
    height: 1070px; 
}
.hero {
    display: grid;
    justify-content: center;
    border-color: var(--accent1-color);
    gap: 30px;
}

.hero picture img {
    width: 380px;
    height: 320px;
}
#weather-data,
#weatherinfo {
    background-color: var(--accent2-color);
    padding: 10px;
}

.sub {
    display: flex;
    flex-direction: column;
}
.sub h2 {
    padding: 0px;
}
.sub img {
    height: 90px;
}
table {
    padding: 15px;
}
section {
    background-color: var(--secondary-color);
    text-align: center;
    height: 450px;
}

h1,
h2,h3{
    text-align: center;
}
h2,
h3 {
    color:var(--primary-color);
    padding-top: 30px;
}
section{
    width: 400px;
    height: 100%;
    gap:40px;
    
}
section p {
    margin-top: 18px;
    margin-bottom: 13px;
    font-size: medium;
    text-align: justify;
    width: 350px;
    padding-left: 23px;
}

section img {
    justify-items: center;
    height: 220px;
    width: 320px;
    border: 1px solid;
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px;
}

footer {
    display: grid;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    grid-template-rows: 1fr 1fr;
    justify-content: center;

}

footer p {
    text-align: center;
}