:root {
    --primary-color: #3a1763;
    --secondary-color: #eff3f3;
    --accent1-color: #f0c9c9;
    --accent2-color: #ffffff;
    --heading-font: "Merryweather Sans", sans-serif;
    --body-font: "Lato", sans-serif;
}
body{
    margin: 0;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.navigation{
    display: flex;
    list-style-type: none;

    
}
.navigation a{
    color: var(--accent2-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: larger;
    
}

.navigation li{
    padding: 13px;
}

main{
    max-width: 800px;
    margin: 0 auto;

}

h1{
    text-align: center;
    font-family: var(--heading-font);
}
div{
    display: grid;
    grid-template-columns: 1fr;

}
div figure{
    justify-items: center;
}

footer{
    display: grid;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    grid-template-rows: 2;
    justify-content:center;
   
    
}
    
